<p>login works!</p>
<h1>{{title}}</h1>
<app-child [item]="data"></app-child>
<button (click)="updateChild()">Update child component</button>

<h1>Reusable Component</h1>
<ul *ngFor="let user of userDetails">
   <app-child [item1]="user"></app-child>
</ul>




<h1>Todo List with Angular</h1>
<input type="text" placeholder="Enter new Text" #task>
<br/><br/>
<button (click)="addtask(task.value)">Add Task</button>
<ul *ngFor="let item of list">
    <li>{{item.name}}<button (click)="removeTask(item.id)">Remove</button></li>
</ul>